*{
    font-family: 'Montserrat', sans-serif;
    
}
.tab>input{
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid gray;
    /* font-size: 5rem; */


}
.child{
  height: 80vh;
  width: 80vw;
}
.Email,.contact,.birthday,.login{
    font-weight: 700;
}

.row{
    position: relative;
    top: 20%;
}
.InpTab{
    /* border-radius: 4%; */
    /* border-bottom: 1px solid brown; */
    border: none;
    outline: none;
}
.InpTab:focus{
    border-bottom: 1px solid gray;
    outline: none;
}
.InputTab{
  outline: none;
  /* border-bottom: 1px solid gray; */
  border: none;
}
#BorderBott{
  border-bottom: 1px solid gray;
}

.level{
    width: 100%;
    height: 40px;
}
.man{

    
    position: fixed;
    bottom: 20%;
    /* right: 10%; */
    
   
}
#regForm {
    background-color: #ffffff;
    /* margin: 100px auto; */
    /* padding: 40px; */
    width: 90%;
    /* min-width: 300px; */
  }
  
  /* Style the input fields */
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }

  .Request{
      font-weight: bold;
      color: #2a323ce8;
  }
  #Grades{
    outline: none;
    border: none;
  }

  .form-check{
    position: relative;
    right: 2%;
  }
  .Account{
    font-size: 1.5rem;
  }
  .btn-outline-success{
    border:none;
    
  }
  .btn-outline-success:hover{
    /* border: 1px solid #5CB100; */
    background: transparent;
    /* border-bottom: 1px solid #28a745; */
    color: #28a7469f;
    
    
    
    

  }
  .navbarBgColor{
    background: #2a323ce8;
    height: 80px;
    color: #ffffff;
  }
  .nav-link, .dropdown-item{
    color: #488014;
    letter-spacing: 1px;
    /* font-weight: 500; */
  }